Source: audio-session-manager
Section: libs
Priority: optional
Maintainer: Seungbae Shin <seungbae.shin@samsung.com>, JongHyuk Choi <jhchoi.choi@samsung.com>, Sangchul Lee <sc11.lee@samsung.com>
Uploaders: Younghwan Ahn <younghwan_.an@samsung.com>, Jeongmo Yang <jm80.yang@samsung.com>
Build-Depends: debhelper (>= 5), autotools-dev, libslp-setting-dev, libmm-log-dev, libslp-sysman-dev, libsecurity-server-client-dev, libavsystem-dev
Standards-Version: 3.7.2

Package: libaudiosessionmgr-dev
XB-Public-Package: no
Section: libdevel
Architecture: any
Depends: libaudiosessionmgr-0 (= ${Source-Version}), libaudiosessionmgr-sdk-dev
Description: auido-session-manager development package for sdk build

Package: libaudiosessionmgr-sdk-dev
Section: libdevel
Architecture: any
Depends: libaudiosessionmgr-0 (= ${Source-Version}), libslp-setting-dev, libmm-log-sdk-dev, libslp-sysman-dev
Description: auido-session-manager development package for sdk release

Package: libaudiosessionmgr-0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libslp-setting-0, libmm-log, libslp-sysman, libsecurity-server-client-0, libavsystem-0
Description: auido-session-manager package contains client library and daemon binary

Package: libaudiosessionmgr-0-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libaudiosessionmgr-0 (= ${Source-Version})
Description: auido-session-manager debug package (unstripped)
